.campus{
  position: absolute;

  &--first{
    left: 60.213vw;
    top: 38.546vw;
  }

  &--second{
    left: 58vw;
    top: 32.5vw;
  }

  &--third{
    top: 30.5vw;
    left: 51vw;
  }

  &--fourth{
    left: 34vw;
    top: 58.5vw;
  }

  &--fifth{
    top: 39.5vw;
    left: 47vw;
  }

  &--sixth{
    left: 47.5vw;
    top: 30vw;
  }

  &--eight{
    top: 38vw;
    left: 43vw;
  }

  &--nine{
    left: 45vw;
    top: 36.5vw;
  }

  &--ten{
    top: 36vw;
    left: 42vw;
  }
}
